language: csharp
solution: MimAcher.sln

jdk:
  - oraclejdk8
addons:
  apt:
    packages:
      - oracle-java8-installer
  sonarqube: true
  
before_script:
  - export JAVA_HOME=/usr/lib/jvm/java-8-oracle
  
script:
  - sonar-scanner
