<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Banco Teste Local -->
    <!-- <add name="MIMACHEREntities" connectionString="metadata=res://*/MimAcher.csdl|res://*/MimAcher.ssdl|res://*/MimAcher.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DARKNOTE\MSSQLSERVEREXP12;initial catalog=MIMACHER;persist security info=True;user id=userma;password=%$ghtJJ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Banco Teste Remoto -->    
    <add name="MIMACHEREntities" connectionString="metadata=res://*/MimAcher.csdl|res://*/MimAcher.ssdl|res://*/MimAcher.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.115;initial catalog=MIMACHER;persist security info=True;user id=userma;password=%$ghtJJ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>